body {
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    margin: 5% 5% 5% 20%;
    align-items: center;
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      opacity:0;
      -webkit-transform:  translate(0px,-25px)  ;
    }
    100% {
      opacity:1;
      -webkit-transform:  translate(0px,0px)  ;
    }
  }
  
  #title {
  
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
  
    z-index: -1;
  
  }
  
  .container-fluid {
    padding: 3% 15% 7%;
  
  }
  
  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  #head1 {
    font-weight: 800;
    font-size: 3rem;
    margin-left: 8%;
    color: #fff;
  }
  
  .para-head {
    text-align: left;
    margin-left: 8%;
    margin-right:8% ;
    font-size: 20px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: 500;
  
  }
  
  .logo-top {
    margin-left: 5%;
    width: 10%;
    height: 10%;
  }
  
  .logo-top:hover {
    background-image: url("images\hover-mgfx.png"),no;
  }
  
  .top-button
  {
    margin-left: 5%;
  }
  
  
  
  .navbar {
    padding: 0 0 0 4.5rem;
  }
  
  .nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
  
  }
  
  .row {
    margin-left: 35px;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  
  
  .image1 {
    transform: rotate(20deg);
    width: 40%;
    position: absolute;
    right: 30%;
  
  }
  
  @media (max-width:993px) {
    #title {
      text-align: center;
    }
  
    .image1 {
      position: static;
      transform: rotate(0deg);
      margin-left: 20px;
    }
  
    .logo-top {
      width: 20%;
      height: 20%;
    }
  
    .para-head 
    {
      font-size: 20px;
    }
  
    .top-button
  {
    margin-left: 0%;
  }
  }
  
  
  
  #footer {
    letter-spacing: 4px;
    padding: 4%;
    text-align: center;
  }
